* {
	box-sizing: border-box;
}
.flex-container {
	display: flex;
}

.row {
	flex-direction: row;  /* standardvärdet är row */
}
.column {
	flex-direction: column;  /* standardvärdet är row */
}

nav, main, aside {
	border: 1px solid black;
	padding: 1em;
}
main {
	/* flex är shorthand för: flex-grow flex-shrink flex-basis */
	flex: 0 0 8em;
}
nav, aside {
	flex: 1 0 0em;
}
nav { background-color: rgb(177, 237, 177); }
main { background-color: rgb(242, 181, 242); }
aside { background-color: rgb(172, 232, 240); }

header, footer {
	border: 1px solid black;
	padding: 1em;
}
body > .flex-container {
	flex-grow: 1;
}
body {
	min-height: 100vh;
	margin: 0;
}